#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 2.75em;
    top: 0;
    vertical-align: middle;
    
}
body.landing #header {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}
#nav li{
    display: inline-block;
    margin-left: 1em;
}
#banner {
    background: url(images/overlay.png), url(../images/banner.jpg);
    background-image: url(images/overlay.png), url(../images/banner.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
}